body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
                rgba(0,0,0,0.55) url('../img/pizza.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 7% 0 15% 0;
    border-radius: 0;
    border: none;
}
#orderForm, .order-output {
  display: none;
}
#orderForm {
  margin: 3rem 0;
}
.pay-now button {
  float: right;
  margin: -7px;
}
.pay-now ul {
  display: block;
  float: right;
  margin-right: 10px;
}
.pay-now ul li i {
  font-size: 24px;
}
.card-block {
  color: #4a4a4a;
}
